* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #3D405B;
  color: white;
}

header {
  background-color: #25283a;
  color: #E07A5F;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}