* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #3D405B;
  color: white;
}

header {
  background-color: #25283a;
  color: #E07A5F;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}

main {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  margin-bottom: 60px;
}

.display {
  width: 500px;
  height: 500px;
  display: grid;
  background-color: ghostwhite;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  border-radius: 5px;
}

.square {
  user-select: none;
  -moz-user-select: none;
}

.tools-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}

.color-picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 200px;
  margin-bottom: 28px;
}

.color-picker::-webkit-color-swatch {
  border-radius: 8px;
  padding: 19px 0;
  border: none;
}

.color-picker::-moz-color-swatch {
  border-radius: 8px;
  padding: 19px 0;
  border: none;
}

.color-picker::-moz-color-swatch:hover {
  scale: 1.05;
}

.color-picker::-webkit-color-swatch:hover {
  scale: 1.05;
}

.normal-btn {
  font-size: 17px;
  width: 200px;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #81B29A;
  border: 1px solid #81B29A;
  color: #F4F1DE;
  cursor: pointer;
  transition: scale 0.2s ease-in-out;
  margin-bottom: 20px;
}

.normal-btn:hover {
  border: 1px solid #81B29A;
  scale: 1.05;
  background-color: #81B29A;
}

.active {
  background-color: #E07A5F;
  border: 1px solid #E07A5F;
}

.active:hover {
  background-color: #E07A5F;
  border: 1px solid #E07A5F;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.footer a {
  text-decoration: none;
  color: #F2CC8F;
  font-size: 18px;
}

@media (max-width: 950px) {
  main {
    justify-content: space-around;
  }

  .display {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 790px) {

  main {
    justify-content: center;
  }

  .display {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 660px) {

  main {
    flex-direction: column;
  }

  .display {
    width: 300px;
    height: 300px;
  }
}